@model IEnumerable<LexiconLMS.Models.Document>





<h5 class="text-uppercase p-2 text-center">List of Files</h5>
<table class="table table-bordered table-striped">
    <thead class="thead-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => @item.DocumentName)
                </td>
                <td>
                    <a asp-controller="Document" asp-action="DownLoadFile" class="btn btn-warning"  asp-route-id="@item.DocumentId">DownLoad</a>
                </td>
            </tr>
        }
    </tbody>
</table>