<form asp-controller="Document" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" class="btn btn-warning  active" role="button" />
    <button type="submit" class="btn btn-info  active" role="button">Upload File</button>
</form>

